{% load staticfiles i18n %}{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% trans "Pythoners de Mallorca" %}">
<meta name="author" content="pyMallorca">

<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon">

<title>PyMallorca</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/cover.css' %}" rel="stylesheet">

</head>

<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner lang">
        <a href="/ca/" class="btn btn-primary btn-xs {% ifequal LANGUAGE_CODE 'ca' %}active{% endifequal %}">Català</a> 
        <a href="/es/" class="btn btn-primary btn-xs {% ifequal LANGUAGE_CODE 'es' %}active{% endifequal %}">Español</a>
      </div>
      {% block content%}
      {% endblock %}

      <div class="row">
        <div class="col-md-12 mastfoot">
          <div class="inner">
            <p>{% trans "Encuentra el código de esta web en" %} <a href="https://github.com/pymallorca/pymallorca">Github</a> {% trans "y colabora con lo que creas necesario" %}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56633712-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
{% endspaceless %}
