{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
  <div class="inner cover">
    <img src="{% static 'img/logo-python.png' %}" class="animated pulse" style="max-width: 486px; width: 100%;"/>
    <h1 class="cover-heading">PyMallorca</h1>
    <p class="lead" style="color:#8FD56C">{% trans "¡Gracias!" %}</p>
      <p class="lead">{% trans "Te informaremos de los avances en organización" %}</p>
    <p class="lead">{% trans "Novedades menores en" %} <a href="https://twitter.com/pymallorca" style="color:#72B9D5">@pymallorca</a>{% trans " en twitter" %}</p>
  </div>
{% endblock %}
