{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="inner cover">
  <img src="{% static 'img/logo-python.png' %}" id="logopy" class="animated pulse" style="max-width: 486px; width: 100%;"/>
  <h1 class="cover-heading">PyMallorca</h1>
  <p class="lead">{% trans "¿Estás interesado en una asociación Python en Mallorca?" %}</p>
  <p class="lead">{% trans "Unos cuantos pythoneros estamos intentando organizarlo y de momento solo te pedimos que nos dejes tu email para ir informándote." %} </p>
  <p class="lead">
    <form method="post" action="{% url "home" %}" role="form">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          {{form.email.errors}}
          <input type="email" class="form-control" id="email" name="email" placeholder="{% trans "Introduce tu email" %}">

          <div id="captcha" style="margin: 20px;">
          {{form.captcha.errors}}
          {{form.captcha}}
          </div>

        </div>

        <div class="col-sm-offset-2 col-sm-8 btnsubmit">
          <button type="submit" class="btn btn-success">{% trans "Enviar" %}</button>
        </div>
      </div>
    </form>
  </p>
</div>
{% endblock %}
